obj/*.o
VSC_Workspace
SPHBOSON
out/*
!out/*.par
results/
logs/
tests/test_potential
tests/test_isco_export
tests/tmp_isco_export/
__pycache__/
*.pyc
*.json
*.cfg
*.ipynb
.ipynb_checkpoints/*
*.swp
Mathematica/
l=0*
